# Exercicios do Curso Python Básico

#Função print()
Crie um programa que exiba na tela o seguinte resultado:

*   Hello, world
*   Python é fácil
*   Isto é uma string

In [ ]:
#Escreva sua resposta aqui

Clique duas vezes em resolução (ou pressione "Enter") para visualizar

In [ ]:
#@title Resolução 
print('Hello, world')
print('Python é fácil')
print('Isto é uma string')

# Variáveis

Crie duas variáveis recebendo as seguintes frases:
*   Variaveis
*   podem receber strings

Realize a soma das duas variaveis e imprima o resultado na tela, como o exemplo abaixo.

variavel1 + variavel2 = Variáveis podem receber strings

In [ ]:
#Escreva sua resposta aqui

Clique duas vezes em resolução (ou pressione "Enter") para visualizar.

In [ ]:
#@title Resolução 
variavel1 = "Variáveis"
variavel2 = " podem receber strings"
soma = variavel1 + variavel2
print("variavel1 + variavel2 = %s"%soma) 
#Outra opção
#print("variavel1 + variavel2 = %s"%(variavel1+variavel2))

# Função input()

Crie um programa que:
 

*   Peça ao usuário o seu nome, sua idade e um número float
*   Realize a soma da sua idade com este número e imprima o resultado
*   Receba uma string com a entrada pelo teclado e exiba essa string em tela


Lembre-se de usar as funções int() e float()

In [ ]:
#Escreva sua resposta aqui

Clique duas vezes em resolução (ou pressione "Enter") para visualizar

In [ ]:
#@title Resolução 
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
myfloat = float(input("Digite um numero decimal (e.g. 1.5): "))
myString = input("Digite uma string: ")

print("Os resultados são:")
print(idade + myfloat)
print(myString)

# Listas

Crie duas listas:
 
*   uma contendo três números
*   outra com três nomes

adicione a essas listas mais um valor e mais uma string, respectivamente, utilizando o .append().

*   Crie uma variável e atribua a ela o valor da terceira posição da lista de nomes,lembre-se que para criar uma lista deve utilizar colchetes
*   Remova a primeira entrada da lista de números
*   Imprima na tela o conteúdo das duas listas e da variável.


Dica: A indexação em Python começa em 0.

In [ ]:
#Escreva sua resposta aqui

Clique duas vezes em resolução (ou pressione "Enter") para visualizar

In [ ]:
#@title Resolução 
lista1=[1,2,3]
lista2=["A","B","C"]

lista1.append(1000)
lista2.append("Carcassonne")

aux = lista2[2]
lista1.remove(1)

print(lista1)
print(lista2)
print(aux)

# Operadores

*   Crie duas variáveis e atribua a elas um valor numérico, string ou cálculo.
*   Crie duas listas e atribua a elas 20 instâncias das variáveis criadas anteriormente.
*   Crie uma terceira lista e junte as 40 instâncias nesta lista.

In [ ]:
#Escreva sua resposta aqui

Clique duas vezes em resolução (ou pressione "Enter") para visualizar

In [ ]:
#@title Resolução 
x = 1
y = 0

x_list=[x] * 20 
y_list=[y] * 20

#z_list = [x_list + y_list]
z_list = x_list + y_list

print(z_list)

# Condicionais

Mude o código abaixo para que todos os resultados sejam iguais a True.

In [ ]:
#Escreva sua resposta 
x = [] #mude aquí
nome = "Bruno"
numero = 0 #adicine mais uma instância de número
numeroo = 
if(x[0] and x[0]): #usando a "and"
    print("é True")
if(x[0] or x[1]): #usando a "or"
    print("é True")
if("B" in nome): #procure uma letra contida em nome
    print("o nome existe")
if(): #usando a nova variável e is com numero"
    print("essa é a mesma instância de número")

SyntaxError: ignored

Clique duas vezes em resolução (ou pressione "Enter") para visualizar

In [ ]:
#@title Resolução
x = [True, False] 
nome = "Bruno"
numero = 0 
numeroo = numero
if(x[0] and x[0]):
    print("é True")
if(x[0] or x[1]): 
    print("é True")
if("B" in nome): 
    print("o nome existe")
if(numeroo is numero): 
    print("essa é a mesma instância de número")

# Loops

Dado a lista:

`x = [1,2,3,4,5,6,7,8,9,10,11,,12,13,14,15,16,17,18,19,20]`

Crie um loop que exiba em tela todos os números primos.

In [ ]:
#Escreva sua resposta aqui

Clique duas vezes em resolução (ou pressione "Enter") para visualizar

In [ ]:
#@title Resolução
x = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
primos = []
for i in x:
  aux = 0
  for j in range(1,i):
    if i%j == 0:
      aux += 1
  if aux == 1:
    primos.append(i) 
print(primos)

[2, 3, 5, 7, 11, 13, 17, 19]

# Funções

Crie uma função que retorna a string “eu aprendi Python”

Crie uma função que retorne a string “e os benefícios de criar funções”

Junte os dois resultados e exibe em tela.

In [ ]:
#Escreva sua resposta aqui

Clique duas vezes em resolução (ou pressione "Enter") para visualizar

In [ ]:
#@title Resolução
def s():
  return "eu aprendi python"

def t():
  return " e os beneficios de criar funçoes"

x = s()
y = t()

z = x + y
print(z)

# Dicionários

Utilizando o exemplo da lista telefônica, adicione mais um contato de nome “Restaurante” com o número “934753676” e remova Evelyn da lista de contatos e imprima o resultado.


```
phonebook = {
    "Bruno" : 938477566,
    "Fernanda" : 938377264,
    "Evelyn" : 947662781
}
```

In [ ]:
#Escreva sua resposta aqui

Clique duas vezes em resolução (ou pressione "Enter") para visualizar

In [ ]:
#@title Resolução
phonebook = {
    "Bruno" : 938477566,
    "Fernanda" : 938377264,
    "Evelyn" : 947662781
}

phonebook["Restaurante"] = 934753676
del phonebook["Evelyn"]
print(phonebook)